.container-show {
    justify-items: center;
    width: 177vh;
    height: 180vh;
    border-radius: 30px;
    background-color: white;
    margin-left: 10vh;
    padding: 10vh;
    margin-top: 10vh;
    margin-bottom: 20vh;
}

.container-show img {
  width: 70vh;
  height: 30vh;
}
