<div class="banner" style="background-image: url(<%= asset_path 'women.svg' %>);">
<!--   <div class="container"> -->

      <div class="texts-banner">

        <h1>Ensemble, trouvons des solutions d'hébergement sécurisées et réconfortantes, rapidement et systématiquement</h1>

  <!--       <p class="mt-5">Parce-qu'aucune femme ne devrait vivre dans la peur et la violence.</p> -->
        <div class="boutons mt-4 mb-4 d-flex flex-row">
          <a class="btn btn-demandeur" href="/hebs">Trouver un hébergement</a>
          <a class="btn btn-foyer" href="/hebs/new">Proposer un hébergement</a>
        </div>
      </div>
  </div>
</div>
