<%= render 'shared/banner' %>

<div class="citation">
  <h1 class="mb-5">En France, une femme meurt tous les 2 jours sous les coups de son conjoint.
  </h1>
  <p>Chaque année en France, une femme sur dix entre 20 et 59 ans est victime de la violence de son partenaire, soit environ 220 000 femmes. En 2018, 121 en sont mortes ; 149 en 2019. En somme, En 2019 une femme meurt tous les 2 jours en France, sous les coups de son conjoint.
  Une violence qui n’est pas l’apanage d’un milieu, d’une classe sociale, d’un certain type de personnalité… Mais plutôt une violence ordinaire qui touche des femmes et des hommes ordinaires.
  La prise en charge des victimes de violences a souvent lieu après les faits. <strong>Ensemble, changeons cela ! Nous vous croyons, nous vous aidons.</strong>
  </p>

  <h1 class="mt-5">💪 AGISSONS ENSEMBLE</h1>
</div>

<div class="section section-demandeur">
  <div class="d-flex flex-column align-items-center">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus cupiditate facilis, illum eos vitae distinctio eum quis amet consequatur voluptates, numquam itaque harum iste, voluptatibus eligendi fugit fuga eius tenetur?</p>

    <a class="btn btn-demandeur mt-4" href="#">Trouver un hébergement</a>
  </div>
    <img src="<%= image_path('map.svg') %>"/>

</div>

<div class="section section-hebergeur">
  <img src="<%= image_path('homebuild.svg') %>"/>

  <div class="d-flex flex-column align-items-center">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus cupiditate facilis, illum eos vitae distinctio eum quis amet consequatur voluptates, numquam itaque harum iste, voluptatibus eligendi fugit fuga eius tenetur?</p>

    <a class="btn btn-foyer mt-4" href="/hebergements/new">Proposer un hébergement</a>
  </div>

</div>



