.container {
  text-align: center;
  justify-items: center;
}

.texts-banner {
  margin-left: 200px;
}


.banner {
  background-size: cover;
  background-position: right;
  padding: 100px 0;
  height: 110vh;
  position: relative;
  top: -127px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  width: 800px;
  position: relative;
  top: 230px;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  width: 800px;
}

.boutons {
  position: relative;
  top: 270px;
  margin-left: 130px;
  margin-bottom: 20px;
}

.mini-banner {
  background-size: fit;
  background-repeat: no-repeat;
  padding: 150px 0;
  height: 80vh;
  background-position: top;
  position: relative;
  top: -70px;
}
