.btn {
  padding: 8px 30px ;
  margin: 10px;
  text-decoration: none;
  border-radius: 30px;
  color: white;
  width: fit-content;
}

.btn:hover {
  background-color: #C5CED7;
  color: grey;
}



.btn-foyer {
  background-color: pink;
}


.btn-demandeur {
    background-color: purple;
}

