.bandeau {
  background-image: url(/assets/building-e001304….svg);
    height: 61vh;
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
}

.list-heb {
  width: fit-content;
  text-align: center;
  justify-items: center;
  margin-left: 20px;
}


#query {
    // position: relative;
    height: 8vh;
    // top: -120px;
    // right: -380px;
    width: 600px;
    margin-bottom: 30px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 17px;
}

.mapboxgl-ctrl-geocoder--input {
    // position: relative;
    height: 7vh;
    // top: -120px;
    // right: -380px;
    width: 600px;
    margin-top: 10px;
    margin-left: 30px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 15px;
}

.mapboxgl-ctrl-geocoder--button {
  display: none;
}

.mapboxgl-ctrl-geocoder--icon  {
  display: none;
}

.building {
  height: 6vh;
  width: 6vh;
  margin-right: 10px;
}

.carte {
  width: 120vh;
  margin: 10vh;
  background-color: white;
}

.cards-container {
  width: 70%;
  padding: 40px;
  background-color: white;
  border-radius: 40px;
  position: relative;
  top: -100px;
  background-color: rgb(249, 222, 229);
  height: fit-content;
}

.cards {
  flex-direction: column;
  align-items: flex-start;
  width: 600px;
  background-color: rgba(249, 222, 229, 1);
  border-radius: 8px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 10px;
  margin-bottom: 10px;
  height: 15vh;
  // position: relative;
  // right: -241px;
  // top: -90px;

}

.cards h3 {
    margin-top: 2vh;
    font-size: 20px;

}

.cards p {
    font-size: 16px;

}

.creerheb {
  width: 70%;
  padding: 40px;
  background-color: white;
  border-radius: 40px;
  position: relative;
  top: -200px;
  background-color: rgb(249, 222, 229);
}
