.navbar {
  display: flex;
  flex-direction: row;
  background: transparent;
  position: relative;
  top: 8px;
  right: 0px;
  z-index: 10;
  height: 80px;
}

.navbar-nav {
color: white;
}

.logo {
    height: 80px;
    width: 148px;
}


