.navbar {
  display: flex;
  flex-direction: row;
  background: transparent;
  position: relative;
  top: 8px;
  right: 0px;
  z-index: 10;
  height: 80px;
  color: white;
}

.nav-link {
  color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: #812E80;
}

.navbar-light .navbar-nav .nav-link:hover {
      color: #812E80;
    font-weight: bold;
}

#navbarSupportedContent {
  margin-left: 400px;
}

.nav-link {
  margin: 10px;
}

.logo {
    height: 80px;
    width: 148px;
}


