.navbar {
  display: flex;
  flex-direction: row;
  background: transparent;
  position: relative;
  top: -8px;
  right: 0px;
  z-index: 10;
}

.navbar-nav {
color: white;
}

.logo {
    height: 100px;
    width: 168px;
}


