.container-show {
    justify-items: center;
    width: 239vh;
    height: 261vh;
    border-radius: 30px;
    background-color: white;
    margin-left: 50vh;
    padding: 10vh;
    margin-top: 10vh;
    margin-bottom: 20vh;
}

.container .foyer-img {
  width: 70vh;
  margin: 10vh;
}
