<div class="container-show">

  <h1><%= @heb.name %></h1>
  <p><%= @heb.address %></p>

<img class="foyer-img" src="<%= image_path('building.svg') %>"/>

  <div class="mb-5"></div>

  <strong>Description</strong>

    <div class="mb-3"></div>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, debitis, maiores. Sed eos rem reiciendis, consectetur atque doloribus exercitationem vitae adipisci velit fuga placeat aliquam odit! Culpa illum, minima perspiciatis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum illum cupiditate facilis sequi at accusamus, atque possimus voluptatum, esse consequatur autem voluptates error officia optio, laudantium veritatis! Dolores, eligendi quod.</p>


    <div class="mb-3"></div>

  <strong>Option de sécurité</strong>

    <div class="mb-3"></div>

  <ul>
    <li>Lorem</li>
    <li>Lorem</li>
    <li>Lorem</li>
    <li>Lorem</li>
  </ul>

      <div class="mb-3"></div>


<div class="d-flex flex-column">
  <strong>Contacter l'espace</strong>
      <div class="mb-3"></div>


  <%= link_to "Afficher numéro", "", class: "btn btn-foyer" %>
</div>


</div>
